<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.mywebview">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 申明权限 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 申请拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 以下为测试权限使用 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="${UMENG_CHANNEL_VALUE}" />

    <application
        android:name=".application.ApplicationControl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 设置 -->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 极光推送相关activity -->
        <!-- 推送消息详情 -->
        <activity
            android:name=".jpush.MsgDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="jpush.testAction" />

                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>
        <!-- For test only 测试高级功能 -->
        <activity
            android:name=".jpush.PushSetActivity"
            android:label="@string/app_name" />
        <!-- For test only 测试设置 -->
        <activity
            android:name=".jpush.PushTimeSettingActivity"
            android:label="@string/app_name" />
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.my.mywebview" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.FuzzyPictureActivity" />
        <activity
            android:name=".activity.FunctionSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activity.GradientScrollViewActivity" />
        <activity android:name=".activity.QQZoneActivity" />
        <activity android:name=".activity.AliPayActivity" />
        <activity android:name=".activity.BannerQQZoneActivity" />
        <activity android:name=".activity.TaoBaoDetailsActivity" />
        <activity android:name=".activity.ShapeActivity" />
        <activity android:name=".activity.SideLetterNavActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.magicindicatormyself.MagicIndicatorActivity" />
        <activity android:name=".activity.magicindicatormyself.MagicIndicatorExampleActivity" />
        <activity android:name=".activity.magicindicatormyself.MagicIndicatorScaleActivity" />
        <activity android:name=".activity.magicindicatormyself.MagicClipIndicatorActivity" />
        <activity android:name=".activity.magicindicator.ScrollableTabExampleActivity" />
        <activity android:name=".activity.magicindicator.FixedTabExampleActivity" />
        <activity android:name=".activity.magicindicator.DynamicTabExampleActivity" />
        <activity android:name=".activity.magicindicator.NoTabOnlyIndicatorExampleActivity" />
        <activity android:name=".activity.magicindicator.FragmentContainerExampleActivity" />
        <activity android:name=".activity.magicindicator.BadgeTabExampleActivity" />
        <activity android:name=".activity.magicindicator.CustomNavigatorExampleActivity" />
        <activity android:name=".activity.magicindicator.LoadCustomLayoutExampleActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.AnimGuideActivity" />
        <activity android:name=".activity.CircleCountStepActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.recyclerview.RcvListViewActivity" />
        <activity android:name=".activity.recyclerview.RcvGridViewActivity" />
        <activity android:name=".activity.recyclerview.WaterFallActivity" />
        <activity android:name=".activity.recyclerview.StickyHeaderActivity" />
        <activity android:name=".activity.recyclerview.RcvGalleryActivity" />
        <activity android:name=".activity.cutout.LocalFuzzyActivity" />
        <activity android:name=".activity.cutout.CutoutActivity" />
        <activity android:name=".activity.FaceRecognitionActivity" />
        <activity android:name=".activity.cutout.CutoutViewsActivity" />
        <activity android:name=".activity.cutout.picturecut.ProcessActivity" />
        <activity android:name=".activity.cutout.PicCutoutActivity" />
        <activity android:name=".activity.cutout.PicCutActivity" />
        <activity
            android:name=".activity.cutout.SelectNoCutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity android:name=".activity.cutout.SelectCutActivity" />
        <activity android:name=".activity.fuzzysearch.FuzzySearchActivity" />
        <activity android:name=".activity.fuzzysearch.FuzzySearchSelectActivity" />
        <activity android:name=".activity.fuzzysearch.AutoCompleteActivity" />
        <activity android:name=".activity.dropdownbox.CitySelectDropDownActivity" />
        <activity android:name=".activity.dropdownbox.CustomSpinnerActivity" />
        <activity android:name=".activity.dropdownbox.DropDownActivity" />
        <activity android:name=".activity.PermissionsDispatcherActivity" />
        <activity android:name=".activity.EasyPermissionActivity" />
        <activity android:name=".activity.eventbus.EventBusMainActivity" />
        <activity android:name=".activity.eventbus.EventBusSecondActivity" />
        <activity android:name=".activity.eventbus.EventBusThirdActivity" />
        <activity android:name=".activity.ChangeSkinActivity" />
        <!-- 电子发票管家主页 -->
        <activity
            android:name=".activity.electronicinvoice.MyInvoiceListActivity"
            android:screenOrientation="portrait" />
        <!-- 电子发票抬头管理 -->
        <activity
            android:name=".activity.electronicinvoice.InvoiceTitleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.electronicinvoice.MyListView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllAnimsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".activity.anims.AllAnimShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".activity.anims.AnimLoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".activity.anims.WaterFlowAnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity
            android:name=".activity.anims.WifiAnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".activity.anims.MoneyAnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".activity.anims.AllPropertyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".activity.anims.PropertyAnimXmlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".activity.anims.LayoutAnimationsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".activity.anims.ViewAnimateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
    </application>

</manifest>